/* supportPage */
#SupportHero{
    background-color: rgb(56, 126, 209);
    color: white;
    padding-left: 150px;
}
#SupportWrapper{
    display: flex;
    justify-content: space-between;
    margin: 0 60px;
    padding : 60px 0;
}

#SupportHero a{
    color: white;
    margin-right: 15px;
}
#SupportHero input{
    padding : 20px 50px;
    width: 100%;
    font-size: 20px;
    border-radius:10px;
    border: none;
}

#SupportHero li a{
    line-height: 2;
}

/*login & signup */

